[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-countries = "*"
djangorestframework = "*"
django-filter = "*"
"psycopg2" = "*"
django-jchart = "*"
coreapi = "*"
pygments = "*"
markdown = "*"


[dev-packages]

ipython = "*"


[requires]

python_version = "3.6"
